
	body{
		background-image: url("bg4.jpg");
  		background-repeat: repeat;
		/*background-color: #f2f2f2;*/
		transition: 0.5s;
		font-family: Courier New;
	}

	input{
		font-family: Courier New;
		border:1px solid grey;
		color:black;
		padding:15px 10px 15px 10px;
		font-size:20px ;
		background-color: white;
		border-radius: 10px;
	}

	td{
		cursor: pointer;
		border-radius: 20px 0 20px;
		background-color:rgb(64, 64, 64,0.8);
		color:white;
		font-size: 40px;
		padding:10px 50px 10px 50px;
	}
	td:hover{
		background-color: #4d4d4d;
	}
	td:active{
		background-color: #666666;
	}

	.text-box{
		background-color:rgb(60, 188, 141,0 );
		padding: 0 0 20px 0;
	}

	.text-box:hover{
		background-color:rgb(60, 188, 141,0 );
	}

	.in-page-title{
		font-size: 45px;
		color:white;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.div-container{
		transition: 2s;
		box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.8);
		/*box-shadow: 0px 0px 16px 3px rgba(212,212,212,0.5);*/
		background-color:rgb(60, 188, 141, 0.7); /*#b3b3b3;*/
		border-radius: 40px;
		border: 1px solid grey;
		padding:90px 0 90px 0;
		margin:10px 400px 0px 400px;
	}

	.info{
		transition: 0.5s;
		font-size: 20px;
		padding-left: 40px;
		cursor: pointer;
		color: grey;
	}

	.info:hover{
		color: white;
	}

	.color-picker-container{
		float:right;
		height:40px;
		width:300px;
		border:0px solid grey;
		border-radius: 4px;
	}

	.color-picker-container td{
		width:30px;
		padding: 0 0 0 0;
		transition: 0.5s;
	}

	.purple-box{
		background-color: rgb(153,102,255,0.4);
	}
	.purple-box:hover{
		background-color: rgb(153,102,255);
	}

	.pink-box{
		background-color: rgb(209,71,163,0.4);
	}
	.pink-box:hover{
		background-color: rgb(209,71,163);
	}

	.orange-box{
		background-color: rgb(255,153,51,0.4);
	}
	.orange-box:hover{
		background-color: rgb(255,153,51);
	}

	.red-box{
		background-color: rgb(255,77,77,0.4);
	}
	.red-box:hover{
		background-color: rgb(255,77,77);
	}

	.brown-box{
		background-color: rgb(255,119,51,0.4);
	}
	.brown-box:hover{
		background-color: rgb(255,119,51);
	}

	.yellow-box{
		background-color: rgb(255,255,77,0.4);
	}
	.yellow-box:hover{
		background-color: rgb(255,255,77);
	}

	.dark-green-box{
		background-color: rgb(64,191,128,0.4);
	}
	.dark-green-box:hover{
		background-color: rgb(64,191,128);
	}

	.blue-box{
		background-color: rgb(71,117,209,0.4);
	}
	.blue-box:hover{
		background-color: rgb(71,117,209);
	}

	.white-box{
		background-color: rgb(255,255,255,0.4);
	}
	.white-box:hover{
		background-color: rgb(255,255,255);
	}

	.default-color{
		background-color: rgb(60, 188, 141,0.4);
	}
	.default-color:hover{
		background-color: rgb(60, 188, 141);
	}

